body {
    background-color: black;
    color: antiquewhite;
    font-family: "raleway";
}
.navbar {
    background-color: transparent; 
    position: absolute; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}
.iconos {
    padding-left: 3%;
    color: white !important;
}
html {
    scroll-behavior: smooth;
}